/* Variables */
$borgona: #5e1616;
$madera-clara: #f3e7d3;
$madera-media: #dbc2a4;
$madera-oscura: #c49a6c;

/* Fondo */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background: {
    image: url("images/fondo-playa.png");
    repeat: no-repeat;
    position: center center;
    size: 100% 100%;
  };

  font-family: 'Trebuchet MS', sans-serif;
}

/* Título */
.title {
  font-size: 4.2rem;
  color: $borgona;
}

/* Tarjetas */
.instrument-container {
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(3.5px);

  border-radius: 28px;
}

/* Teclas */
.key-container {

  width: 74px;
  height: 74px;

  background: linear-gradient(
    145deg,
    $madera-clara,
    $madera-media,
    $madera-oscura
  );

  border-radius: 12px;

  p {
    color: #4a2415;
  }

  &:hover {
    transform: translateY(-4px);
  }

  &.key-down {
    transform: translateY(6px) scale(0.85);
  }
}